<div fxLayoutAlign="center center">
    <mat-form-field fxFlex="40%">
        <input matInput type="text" #filter placeholder="Filter" autocomplete="false">
    </mat-form-field>
</div>
<mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.price | number}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.quantity | number}}</mat-cell>
    </ng-container>

    <mat-header-row 
        *matHeaderRowDef="displayedColumns">
    </mat-header-row>
    <mat-row 
        *matRowDef="let row; columns: displayedColumns;"
        (click)="selectedRowChanged(row)"
        [class.selected-row]="(selectedRow | async)?.id === row.id">
    </mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="pagination.totalItems" showFirstLastButtons (page)="onPaginateChange($event)"></mat-paginator>